# Python
__pycache__/
*.pyc
*.pyo

# Виртуальные окружения
venv/
env/
ENV/

# Секреты (обязательно!)
.env

# Логи
*.log
tube_revival.log

# Временные файлы
*.tmp
*.tar
*.gz

# Собранные deb-пакеты (не обязательно, но лучше исключить)
*.deb

# Файлы IDE
.vscode/
.idea/
*.swp