# Вставьте сюда ваш API-ключ, полученный в Google Cloud Console/ Insert here your API-key, from Google Cloud Console
# Затем переименуйте этот файл в .env (уберите "example" из названия)/ After that, rename this file into .env (delete "example" from name)
YOUTUBE_API_KEY=ваш_ключ_сюда